<div class="px-5 mt-5">
  <h1 class="fw-bolder">
    About us
  </h1>
  <div class="d-flex justify-content-around row row-cols-1  row-cols-md-2">
    <div>
      <p style="font-size:18px;" class="lh-base me-2 ">
        Homey Furniture is an Egyptian Furniture company which was formed in 2022 after
        years of experience in furniture production. We work with furniture experts
        from all over the world to produce outstanding quality products at very
        competitive prices for all around your home including the Living Rooms,
        Dinning Rooms , Bedrooms , Sofas and Tables .
      </p>
      <h2 class="fw-semibold mt-5">Mission : </h2>
      <p style="font-size:18px;" class="lh-base me-2 ">
        To consistently deliver outstanding quality and service at the lowest
        possible price and we pride ourselves on our innovation towards the latest
        fashion trends and our exceptional customer service we provide to our
        customers.
      </p>
    </div>
    <img src="http://localhost:3006/uploads/HomeyFurniture_klippan-sofa-1.jpg" class="" style="width:40%" />
  </div>
  <div class="ms-4">
    <h2 class="fw-semibold mt-5">Vision : </h2>
    <p style="font-size:18px;" class="lh-base me-2 ">
      To provide the best furniture buying experience
    </p>
    <h2 class="fw-semibold mt-5">Our Goal : </h2>
    <p style="font-size:18px;" class="lh-base me-2 ">
      Our Goal is to constantly keep improving our furniture catalog and
      innovating new collections to suit the latest fashion trends and to
      keep utilizing customer feedback into creating outstanding furniture
      that will leave an imprint in your house.
    </p>
    <h2 class="fw-semibold mt-5">Values : </h2>
    <div style="font-size:18px;" class="lh-base me-2">
      <ul>
        <li>Innovation</li>
        <li>Stylish designs</li>
        <li>Quality maintenance</li>
      </ul>
    </div>
  </div>
