<div class="container">
  <div class="row">
    <div class="col">
      <form [formGroup]="form" class="mt-4">
        <div class="row mb-4 mt-2">
          <div class="col-2 d-flex align-items-center">
            <span class="fw-bold">Filter by Date</span>
          </div>
          <div class="col-md-3">
            <label for="" class="fw-bold">Start Date</label>
            <input type="date" formControlName="start" class="form-control">
          </div>
          <div class="col-md-3">
            <label for="" class="fw-bold">End Date</label>
            <input type="date" formControlName="end" class="form-control">
          </div>
          <div class="col-md-2 d-flex align-items-end">
            <button class="btn btn-success" (click)="applyFilter()">Apply</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-3">
      <app-select class="fw-bold" [data]="states" [title]="'Filter by State'"
        (selectedData)="filterByState($event)"></app-select>
    </div>
  </div>

  <div class="row">
    <table class="table table-striped text-center px-2">
      <thead>
        <tr>
          <th>Date</th>
          <th>Num of Items In Order</th>
          <th>Order State</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="allOrders">
        <tr *ngFor="let order of allOrders;let index=index">
          <td>{{order.createdAt | date:'longDate'}}</td>
          <td>{{totalItemsInOrder[order._id]}}</td>
          <td>
            <select class="form-control form-select w-50 m-auto" aria-label="Default select example"
              (change)="modifyOrderState(order._id,$event)">
              <option [selected]="order.state === option" [value]="option" *ngFor="let option of states">{{option}}
              </option>
            </select>
          </td>
          <td>
            <!-- TODO ==> delete should be in page accessed by user (user auth)  -->
            <!-- <button class="btn btn-danger me-3" (click)="deleteOrder(order._id)">Delete</button> -->
            <button class="btn btn-primary px-4" data-bs-toggle="modal" data-bs-target="#exampleModal"
              (click)="viewProductsInOrder(order._id)">Order Details</button>
          </td>
        </tr>
      </tbody>
      <!-- <tfoot>
          //checkout
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th><button class="btn btn-success" style="width: 200px;" (click)="checkout()">Pay with
                stripe</button></th>
          </tr>
        </tfoot> -->
    </table>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 900px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Order Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-striped text-center px-2">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of products;let index=index">
              <td><img src="assets/images/{{item.image}}" alt="" style="width:125px;"></td>
              <td>{{item.name}}</td>
              <td>{{item.price}} L.E</td>
              <td>{{item.quantity}}</td>
              <td>{{item.price * item.quantity}} L.E</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th>Total : </th>
              <th>{{orderDetails.bill}} L.E</th>
            </tr>
          </tfoot>

        </table>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
