<div
  class="authentication-card-container"
  fxLayout="column"
  fxLayoutAlign="center"
  *ngIf="!loading"
>
  <mat-card class="authentication-card">
    <mat-card-header> <mat-card-title>Login as Admin</mat-card-title></mat-card-header>
    <mat-card-content>
      <form
        [formGroup]="loginForm"
        fxLayout="column"
        fxLayoutAlign="center stretch"
      >
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
        <div *ngIf="EmailValid==false" class="text-danger">
          <div *ngIf="EmailField!=0">
            Must be Valid Email form
          </div>
        </div>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="d-flex flex-column">
      <button class="btn btn-primary w-50 m-auto text-center mb-3"
      style="padding:0.1rem 0.1rem" (click)="onSubmit()">
        Login
     </button>
      <a class="w-80 text-decoration-none m-auto" routerLink="/admins/register" routerLinkActive="active">
        <span class="text-dark">Don't have an account?</span> Register here.
      </a>
    </mat-card-actions>
  </mat-card>
</div>
 <div class="text-center w-100" *ngIf="loading">
      <app-spinner></app-spinner>
    </div>
