<div class="m-5 mt-3">
  <!-- <h1>Profile</h1> -->
  <mat-tab-group>
    <mat-tab label="Info">
      <div class="container" *ngIf="!loading">
        <div class="row g-0 d-flex align-items-center" *ngIf="user">
          <div class="col-lg-5 col-md-6 col-sm-12 mt-5" style="height:20rem">
            <img src="http://localhost:3006/uploads/HomeyFurniture_{{user.image}}" class="rounded"
              style="max-height:100%;" alt="profile image">
          </div>
          <div class="col-lg-4 mt-4 ms-5" *ngIf="user">
            <div class="my-2 fs-6"><span class="fw-bold">Name :</span> {{user.name}}</div>
            <div class="my-2 fs-6"><span class="fw-bold">Email address :</span> {{user.email}}</div>
            <div class="my-2 fs-6"><span class="fw-bold">Gender :</span> {{user.gender}}</div>
            <div class="my-2 fs-6"><span class="fw-bold">Member since :</span> {{user.createdAt | date:'longDate'}}
            </div>
          </div>

        </div>
      </div>
    </mat-tab>
    <mat-tab label="Edit">
      <div class="container">
        <div class="row g-0" *ngIf="user">
          <div class="col-lg-5 col-md-6 col-sm-12 mt-5 d-flex flex-column align-items-center" style="height:25rem;">
            <img src="http://localhost:3006/uploads/HomeyFurniture_{{updateForm.value.image}}"
              class="rounded d-block mb-3" style="max-height:70%;" alt="profile image">

            <input type="file" class="form-control w-50" (change)="selectFile($event)">
            <!-- <button type="submit" (click)="onFileUpload()" class="btn btn-primary">upload</button> -->
          </div>
          <div class="col-lg-5 mt-5">
            <mat-card>
              <mat-card-header class="my-3">
                <mat-card-title class="m-auto">Edit profile info</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <form [formGroup]="updateForm" fxLayout="column" fxLayoutAlign="center stretch">
                  <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input formControlName="name" type="text" matInput />
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" />
                  </mat-form-field>
                  <div *ngIf="EmailValid==false" class="text-danger">
                    <div *ngIf="EmailField!=0">
                      Must be Valid Email form
                    </div>
                  </div>

                  <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" />
                  </mat-form-field>
                  <div *ngIf="PasswordValid==false" class="text-danger">

                    <div *ngIf="PassLength!=0">
                      Must be 8 characters or more</div>
                  </div>
                  <!-- <mat-form-field>
                    <mat-label>Image</mat-label>
                    <input matInput formControlName="image" />
                  </mat-form-field> -->
                  <mat-radio-group aria-label="gender" formControlName="gender">Gender :
                    <mat-radio-button value="male" class="ms-4">Male</mat-radio-button>
                    <mat-radio-button value="female" class="ms-4">Female</mat-radio-button>
                  </mat-radio-group>
                </form>
              </mat-card-content>
              <mat-card-actions class="d-flex flex-column">
                <button class="btn btn-success w-50 m-auto text-center mb-3" style="padding:0.1rem 0.1rem"
                  (click)="onSubmit()">
                  Update
                </button>
              </mat-card-actions>
            </mat-card>

          </div>

        </div>
      </div>
    </mat-tab>


    <mat-tab label="Orders">
      <div class="container">
        <div class="row my-4">
          <div class="col-3">
            <app-select class="fw-bold" [data]="states" [title]="'Filter by State'"
              (selectedData)="filterByState($event)"></app-select>
          </div>
        </div>

        <div class="row">
          <table class="table text-center px-2">
            <thead>
              <tr>
                <th>Date</th>
                <th>Num of Items In Order</th>
                <th>Order State</th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngIf="allOrders">
              <tr *ngFor="let order of allOrders;let index=index">
                <td>{{order.createdAt | date:'longDate'}}</td>
                <td>{{totalItemsInOrder[order._id]}}</td>
                <td>{{order.state}}</td>
                <td class="d-flex justify-content-around align-items-center">
                  <button class="btn btn-secondary px-4" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    (click)="viewProductsInOrder(order._id)">Order Details</button>
                  <button class="btn btn-danger btn-close btn-close-danger" aria-label="Close"
                    (click)="deleteOrder(order)"></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </mat-tab>
  </mat-tab-group>
</div>

<div class="text-center w-100" *ngIf="loading">
  <app-spinner></app-spinner>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog h-100 d-flex align-items-center" style="max-width: 900px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Order Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-striped text-center px-2">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of products;let index=index">
              <td class="w-25">
                <img src="http://localhost:3006/uploads/HomeyFurniture_{{item.image}}" alt="" style="max-width:50%;">
              </td>
              <td style="line-height: 50px;">{{item.name}}</td>
              <td style="line-height: 50px;">{{item.price}} L.E</td>
              <td style="line-height: 50px;">{{item.quantity}}</td>
              <td style="line-height: 50px;">{{item.price * item.quantity}} L.E</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th>Total : </th>
              <th>{{orderDetails.bill}} L.E</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
