<div class="row mt-5">
  <div class="col-md-4 mb-3" *ngFor="let prod of allProds">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title fs-6 fw-semibold">{{prod.name}}</h5>
        <img src="http://localhost:3006/uploads/HomeyFurniture_{{prod.images[0]}}" style="width:60%">
        <p class="card-text">{{prod.category}}</p>
        <a href="#" class="btn btn-success">Add to cart </a>
      </div>
      <div class="card-footer text-muted">
        Available only <span class="text-danger"><strong>{{prod.number_available}} !</strong></span>
      </div>
    </div>
  </div>
</div>
