<div class="container">
  <div class="card mb-3 mt-5 border-0" style="max-width: 100%;">
    <div class="row g-0" *ngIf="!loading">
      <div class="col-md-4">
        <!-- <img src="http://localhost:3006/uploads/HomeyFurniture_{{data.images[0]}}" *ngIf="data.images"
          class="img-fluid rounded" style="width: 95%;" alt="logo"> -->


        <div id="carouselExampleIndicators" class="carousel slide d-flex flex-column justify-content-between"
          data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class=" carousel-item active" *ngIf="data.images[0]">
              <img src="assets/images/{{data.images[0]}}" class="d-block w-100 rounded-0" alt="..."
                style="max-height: 350px;">
            </div>
            <div class="carousel-item" *ngIf="data.images[1]">
              <img src="assets/images/{{data.images[1]}}" class="d-block w-100 rounded-0" alt="..."
                style="max-height: 350px;">
            </div>
            <div class="carousel-item" *ngIf="data.images[2]">
              <img src="assets/images/{{data.images[2]}}" class="d-block w-100 rounded-0" alt="..."
                style="max-height: 350px;">
            </div>
          </div>

          <div class="carousel-indicators">
            <button type="button" *ngIf="data.images[0]" data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0" class="active thumbnail" aria-current="true" aria-label="club-chair-1">
              <img src="assets/images/{{data.images[0]}}" class="d-block w-100" alt="..." style="max-height:80px ;">
            </button>
            <button type="button" *ngIf="data.images[1]" data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1" class="thumbnail" aria-label="club-chair-2">
              <img src="assets/images/{{data.images[1]}}" class="d-block w-100" alt="..." style="max-height:80px ;">
            </button>
            <button type="button" *ngIf="data.images[2]" data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2" class="thumbnail" aria-label="club-chair-3">
              <img src="assets/images/{{data.images[2]}}" class="d-block w-100" alt="..." style="max-height:80px ;">
            </button>
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title fs-2">{{data.name}}</h5>
          <p class="card-text fs-6 text-muted fw-light mb-4">{{data.category}}</p>
          <p class="card-text fs-4 fw-bold mb-5">{{data.price}} EGP</p>

          <div class=" mt-4 mb-3 w-50">
            <a class="btn btn-primary w-75" *ngIf="!addButton" (click)="addButton= true">Add to Cart</a>
            <div class="d-flex w-75" *ngIf="addButton">
              <input type="number" class="form-control w-25 me-2" [(ngModel)]="amount">
              <button class="btn btn-danger w-75" (click)="addToCart();addButton = false">Add</button>
            </div>
          </div>

          <p class="card-text fs-6 mt-5">More Details</p>
          <p class="card-text fs-6"><span class="fs-5">Color :</span> {{data.color}}</p>
          <p class="card-text fs-6"><span class="fs-5">Dimensions :</span> {{data.dimensions}}</p>
          <p class="card-text fs-6"><span class="fs-5">Material :</span> {{data.material}}</p>
          <p class="card-text fs-6"><span class="fs-5">Number of units :</span> {{data.number_of_units}}</p>
          <p class="card-text fs-6"><span class="fs-5">Number of available :</span> {{data.number_available}}</p>
          <p class="card-text fs-6"><span class="fs-5">Delivery within :</span> {{data.delivery_within}}</p>
          <p class="card-text fs-6"><span class="fs-5">Made in :</span> {{data.made_in}}</p>
        </div>
      </div>
    </div>
    <div class="text-center w-100" *ngIf="loading">
      <app-spinner></app-spinner>
    </div>
  </div>
</div>
