<div class="cartBox">
  <h1 class="text-danger">Shopping Cart</h1>
  <div class="headCart">
    <p class="lead">You have <label class="text-danger">{{cartItems.length}}</label> in your cart</p>
      <span (click)="clearcart()">clear shopping cart</span>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>price</th>
        <th style="width: 25%;">Quantity</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of cartItems;let index=index">
        <td><img style="width: 45%;" src="assets/images{{product.images}}" alt=""></td>
        <td>{{product.name}}</td>
        <td>{{product.price}} L.E</td>
        <td>
          <div class="quantity" *ngIf="product.quantity">
            <button class="btn btn-dark" (click)="addAmount(index,product.productId , product.quantity)">+</button>
            <input class="form-control"  type="number" (change)="detectChange()" [(ngModel)]="product.quantity" min="1">
            <button class="btn btn-dark" (click)="minsAmount(index,product.productId , product.quantity)">-</button>
          </div>
        </td>
        <td>{{product.price * product.quantity}} L.E</td>
        <td>
          <button class="btn btn-danger" (click)="deleteProdut(index)">Delete</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Total : {{totalBill}} l.E</th>
        <!-- <th><button class="btn btn-success" (click)="addcart()">Order Now</button></th> -->
      </tr>
    </tfoot>
  </table>
</div>
<div class="alert alert success" role="alert" *ngIf="success"><strong>Well done!</strong> order is successfully send</div>
