<div class="card-body text-center">
    <div class="card" style="width: 18rem;">
      <div routerLink="/products/{{data._id}}">
        <img src="assets/images/{{data.images[0]}}" class="card-img-top" style="width: 100%;height:20rem;object-fit:fill;border-radius:0.375rem" alt="...">
        <h5 class="card-title fs-5 fw-normal mt-3">{{data.name}}</h5>
        <p class="card-text mx-3">Made from {{data.material}} available with colors {{data.color}}</p>
          <div class="d-flex justify-content-evenly mt-4 mb-3">
            <span class="mt-2 fw-semibold fs-6">{{data.price}} L.E</span>
            <a class="btn btn-primary" *ngIf="!addButton" (click)="addButton= true">Add to Cart</a>
                <div class="d-flex w-50" *ngIf="addButton">
                  <input type="number" class="form-control" [(ngModel)]="amount">
                  <button class="btn btn-danger" (click)="add();addButton = false" >Add</button>
                </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        Delivery within <span><strong>{{data.delivery_within}} </strong></span>
      </div>
    </div>
  </div>
  
  
  
  
  